<h1 class="text-center"> This is your Product component </h1>
<table class="table table-bordered text-center">
    <thead>
        <th>Name</th>
        <th>Price</th>

    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.name }} </td>
            <td>{{ product.price }}</td>
            <td><button class="btn btn-primary text-floral-white" [routerLink] ="['/productlist', product.id]" [queryParams]="{}">View Details</button></td>
        </tr>
    </tbody>
</table>