<table class="table table-bordered text-center">
    <thead>
        <th>Employee ID</th>
        <th>Employee name</th>
        <th>Employee Salary</th>
        <th>Employee age</th>
        <th>Profile image</th>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees.data">
            <td>{{ emp.id }} </td>
            <td>{{ emp.employee_name }}</td>
            <td>{{ emp.employee_salary }}</td>
            <td>{{ emp.employee_age }}</td>
            <td>{{ emp.profile_image }}</td>
        </tr>
    </tbody>
</table>